.App {
  min-height: 100vh;
}

.liveFeedDiv {
  background-color: #1a1a1a;
  border: 2px solid green;
  border-radius: 4px;
}

.liveFeedText {
  display: block;
  font-size: 0.8rem;
  color: white;
  width: 100%;
  padding-left: 2px;
}

.liveFeedText:nth-child(2n) {
  background-color: #2b2b2b;
}

::-webkit-scrollbar {
  width: 2px;
}

.bobber-display {
  position: fixed;
  top: 10;
  left: 50%;
  height: 240px;
  width: 240px;
}

.fish-environment {
  background-image: url('./assets/Lakeside.png');
  background-repeat: no-repeat;
  background-size: 100% 100%

}

.fisherman-display {
  position: fixed;
  top: 35%;
  left: 50%;
  height: 480px;
  width: 480px;
}

.feed-popup  {
  position: fixed;
  bottom: 0.4em;
  right: 0.4em;
  background-color: #111;
  color: bisque;
  padding: 1em;
  width: 360px;
  height: 3.5em;
  border: solid 2px #eee;
  border-radius: 6px;
  /* animation: fadeOut linear 5s;
  opacity: 0; */
}

@keyframes fadeOut {
  from {opacity: 1;}
  to {opacity: 0;}
}
